@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --font-Roboto: 'Roboto', sans-serif;
    --color-white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SansitaSwashed';
    src: url(/assets/fonts/SansitaSwashed-Bold.ttf);
}

html,
body {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 5rem;
    background-color: #9b414149;
    backdrop-filter: blur(10px);
}

.logo__span {
    font-size: 2.6rem;
    font-family: 'SansitaSwashed';
    color: var(--color-white);
}

.navbar__menu {
    display: flex;
    gap: 2rem;
}

.navbar__link {
    font-size: 1.8rem;
    font-family: var(--font-Roboto);
    font-weight: 700;
    color: var(--color-white);
}

.wrap__heading {
    background: url(/assets/images/mohamed-hassouna-N4gtuEZ5gWc-unsplash.jpg) no-repeat;
    background-size: cover;
}

.hero__heading {
    background-size: cover;
    height: calc(100vh - 6rem);
}

/* about us */

.hero{
    width: 100%;
    height: 72rem;
    display: flex;
}

.article-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.article-content__title{
    color: #C93A36;
    font-size: 5rem;
}

.article-content__text{
    margin: 2rem;
    font-size: 3.2rem;
}

.article__image{
    background: url(/assets/images/about__us__pan.jpg);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.article__image--bread{
    background: url(/assets/images/organic.jpg);
    background-size: cover;
}

.article__image--truck{
    background: url(/assets/images/truck.jpg) center;
    background-size: cover;
}

.article__image--work{
    background: url(/assets/images/artesanal.jpg) center;
    background-size: cover;
}

/* products */

.article__product{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.title__product{
    /* margin: 6rem 0 3rem ; */
}

.product__image__container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2.5rem;
}

.products__container{
    width: 100%;
    height: 100%;
}

.products__container2{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2.5rem;
}


.image{
    background: url(/assets/images/products.jpg) center;
    background-size: cover;
}

.product__image1{
    width: 100%;
    height: 45%;
}

.product__image2{
    width: 25%;
    height: 100%;
}

.product__image3{
    width: 40%;
    height: 51%;
}

.product__image4{
    width: 40%;
    height: 51%;
}

/* location */

.hero__location{
    position: relative;
    height: 85rem;

}

.location__article{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.location__title{
    color: #C93A36;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.location-content__text{
    color: #C93A36;
    font-size: 3rem;
    margin: 2rem;
}

.location__map{
    width: 50%;
    z-index: 9999;
}

.location__text{
    width: 60%;
}

.vector__wave{
    position: absolute;
    bottom: 0;
    z-index: 0;
}